/* resetando as configurações padrão do css*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url('nebulosa2.jpg');
    color: #D3D3D3;
    font-family: Helvetica, Arial, sans-serif;
    height: 100vh;
    font-size: 12px;
    
}

/*define alterações para telas acima de 400px largura*/
@media (min-width: 400px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

header {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: rgb(0,0,139,.5);
    position: fixed;
    width: 100vw;
    top: 0px;
    border-bottom: 3px solid #B0C4DE;
    padding-bottom: 20px;
    padding-top: 20px;

}

.menu a {
    padding: 20px;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    
}

.menu li {
    list-style: none;
    
}

a {
    color: #B0C4DE;
    text-decoration: none;
    
}

a:hover {
    text-decoration: underline;
}


